<div class="container p-5">
  
  <h4 class="mt-5">
    Danh sách oders chi tiết
  </h4>
  <table class="table mt-5">
    <thead>
      <tr>
        
        <th scope="col">oder id</th>
        <th scope="col">id sản phẩm</th>
        <th scope="col">Tên Sản phảm</th>
        <th scope="col">số lượng</th>
        <th scope="col">giá</th>
    
      </tr>
    </thead>
    <tbody id="tableCategories">
      {{#each odersdetail}}
       <tr>
      <td>{{this.id}}</td>
      <td>{{this.product_id}}</td>
      <td>{{this.product_name}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.price
}}</td>
    </tr>
    {{/each}}
    </tbody>
      </table>
</div>
    </tbody>
  </table>
</div>
